.filters {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $bg-color-filters;
  text-align: center;

  .filters__wrapper {
    list-style: none;
  }

  .filters__item {
    display: inline-block; 
    margin-right: 10px;
    padding: 5px 15px;
    background-color: $color-white;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}
